<!DOCTYPE html>
<html>
<head>
  <title>Gyoza</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <span><a href="/sign_out">Sign out</a></span>
    <span>Logged in as <%= link_to_username %></span>
    <h1>Gyoza</h1>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <aside>
    <%= yield :aside %>
  </aside>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</body>
</html>
