<!DOCTYPE html>
<html>
<head>
  <title>Gyoza</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>

  <aside>
    <header>
      <%- if session[:omniauth] %>
        <span><a href="/sign_out">Sign out</a></span>
        <span>Logged in as <%= link_to_username %></span>
      <%- end %>
      <h1>Gyoza</h1>
    </header>

    <h3>Editing <%= link_to_file %> from <%= link_to_repo %></h3>

    <%= yield :aside %>
  </aside>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</body>
</html>
