<!DOCTYPE html>
<html>
<head>
  <title>Gyoza</title>
  <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>

  <aside>
    <header>
      <%- if session[:omniauth] %>
        <span><a href="/sign_out">Sign out</a></span>
        <span>Logged in as <%= link_to_username %></span>
      <%- end %>
      <h1><a href="/">Gyoza</a></h1>
    </header>

    <%= yield :aside %>
  </aside>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</body>
</html>
